
$fonColor: #e9e8e4;
$blueColor: #4d75a3;
$lightBlueColor: #ebf4fa;
$whiteColor: #f9f9f9;
$grayFontColor: #727272;
$lightGrayFontColor: #e5e5e5;
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

@mixin font($color, $size, $weight) {
  font-family: 'Open Sans';
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin avatarImg($width, $height, $margin) {
  width: $width;
  height: $height;
  object-fit: cover;
  border-radius: 50%;
  margin: $margin;
}

@mixin btn($width, $height, $margin, $fonColor) {
  background-color: $fonColor;
  border-radius: 5px;
  width: $width;
  height: $height;
  margin: $margin;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@mixin triangle($float, $margin, $Color) {
  margin: $margin;
  border: 5px solid transparent;
  border-top: 5px solid $Color;
  width: 0;
  height: 0;
  float: $float;
}

@mixin messageChat($Color) {
  display: inline-block;
  position: relative;
  background-color: $Color;
  max-width: 70%;
  border-radius: 15px;
  z-index: 1000;
  p {
    margin: 0;
    text-align: justify;
    padding: 10px 20px 10px 20px;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 1000;
    bottom: 0px;
    height: 15px;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 1000;
    bottom: 0px;
    width: 10px;
    height: 25px;
    background: $whiteColor;
  }
}

div {
  box-sizing: border-box;
}

body {
  background-color: $fonColor;

  header {
    width: 1150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    @include font($grayFontColor, 16px, 500);

    .topBar {
      background-color: $blueColor;
      height: 75px;

      .leftTopBarMenu {
        line-height: 75px;

        nav {
          text-align: center;
          vertical-align: middle;

          ul {
            padding: 0px;
            margin: 0px;
            display: block;

            li {
              float: left;
              display: block;
              padding: 0px 28px 0px 28px;
              border-right: 1px solid #38546d;
              position: relative;

              .logoTopBar {
                padding: 0px 35px 0px 10px;
              }

              #notiCounter {
                border-radius: 2px;
                background-color: #ff6161;
                @include font(#f9f9f9, 12px, 900);
                width: 16px;
                line-height: 16px;
                margin: 0 auto;
                position: absolute;
                top: 0;
                margin-top: 20%;
                margin-left: 20%;
              }
            }
          }
        }
      }

      .rightTopBarMenu {
        // line-height: 75px;
        float: right;
        line-height: 75px;
        font-weight: bold;
        color: #f9f9f9;
      }

      nav {
        text-align: center;
        vertical-align: middle;

        ul {
          padding: 0px;
          margin: 0px;
          display: block;

          li {
            float: left;
            display: block;
            padding: 0px 28px 0px 28px;
            border-right: 1px solid #38546d;
            position: relative;

            .avatar {
              vertical-align: middle;
              width: 30px;
              height: 30px;
              border: 2px solid #f9f9f9;
              border-radius: 50%;
              margin: 0px 10px 0px 20px;
            }

            .arrow-btn {
              @include triangle(right, 20% 0 0 0, $whiteColor);
            }
          }
        }
      }
    }

    .secondBar {
      background-color: white;
      height: 75px;
      line-height: 75px;

      nav {
        text-align: center;
        vertical-align: middle;
        display: inline-block;

        ul {
          padding: 0px;
          margin: 0px;

          li {
            float: left;
            display: block;
            padding: 0px 28px 0px 28px;
          }

          .active div {
            height: 75px;
            box-shadow: inset 0px -5px 0px #4d75a3;
          }
        }
      }
    }
  }

  .profile {
    width: 1150px;
    height: 200px;
    background-color: $whiteColor;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    @include font(#667a90, 12px, 500);

    // @include font( #3f4f5f, 16px, 500);
    .profileStatusColumn {
      width: 480px;
      height: 100%;
      display: flex;
      align-items: center;

      img {
        display: block;
        @include avatarImg(100px, 100px, 0 );
        margin-left: 50px;
        margin-right: 25px;
      }

      .profileTitle {
        display: block;
        border-right: 1px solid $lightGrayFontColor;
        h3 {
          margin: 0;
          padding: 0;
          @include font(#3f4f5f, 24px, 600);
        }
      }
    }

    .profileStats {
      width: 400px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0 35px 0 35px;
      align-items: center;

      .statsItems {
        display: inline-block;

        h2 {
          @include font(#4d75a3, 22px, 600);
          margin: 0px;
        }

        p {
          margin: 0px;
        }
      }
    }

    .profileButtons {
      width: auto;
      flex-wrap: wrap;
      display: flex;
      align-content: center;
      justify-content: center;

      .fillBtn {
        @include btn(185px, 50px, 5px 0 5px 0, $blueColor);
        @include font($whiteColor, 16px, 500);
      }

      .generalBtn {
        @include btn(185px, 50px, 5px 0 5px 0, $whiteColor);
        @include font($blueColor, 16px, 600);
        border: 2px solid $blueColor;
      }
    }
  }

  .activityFeed {
    display: flex;
    flex-wrap: wrap;
    width: 1150px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    @include font($grayFontColor, 15px, 500);

    .col {
      overflow: hidden;
      background-color: $whiteColor;
      height: 100%;
      width: calc((100% - 100px) / 3);
      border-radius: 15px;
      position: relative;

      .titleFeed {
        padding: 5px 25px 0px 25px;
        display: inline-flex;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h2 {
          @include font(black, 22px, 300);
        }

        img {
          width: 16px;
          height: 16px;
        }
      }

      .feeds {
        display: flex;
        margin-top: 20px;

        .columnFeedIcon {
          display: block;
          align-content: center;
          align-items: center;
          margin: 5px 25px 5px 25px;

          &:after {
            content: '';
            height: 100%;
            width: 50%;
            display: block;
            border-right: 1px solid $lightGrayFontColor;
          }
        }

        .columnUser {
          .link {
            color: $blueColor;
          }

          p {
            vertical-align: top;
            margin: 0px;
          }

          .feedPhotos {
            img {
              margin: 5px 5px 5px 0px;
              border-radius: 5px;
              width: 50px;
              height: 50px;
              object-fit: cover;
            }
          }
        }
      }

      .footerFeeds {
        position: absolute;
        bottom: 0px;
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $lightBlueColor;
        z-index: 999999;
        @include font($blueColor, 12px, 600);
        text-transform: uppercase;
        .arrow-btn {
          @include triangle(none, 0.5em 5px 0 5px, $blueColor);
        }
        .inputMessage {
          background-color: $whiteColor;
          height: 100%;
          width: 100%;
          padding: 0 20px 0 20px;
          border-top: 1px solid $lightGrayFontColor;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .smile {
            padding-right: 10px;
            border-right: 2px solid $lightGrayFontColor;
          }
        }

      }

      .folowers {
        display: inline-flex;
        width: 100%;
        flex-direction: row;
        position: relative;
        align-items: center;

        .folowersImage {
          margin: 10px 15px 10px 25px;
          position: relative;
          z-index: 1;

          img {
            @include avatarImg(50px, 50px, 0);
          }

          .online {
            z-index: 10000;
            background-color: green;
            width: 11px;
            height: 11px;
            position: absolute;
            right: 6px;
            bottom: 4px;
            border-radius: 50%;
            border: 2px solid white;
          }
        }

        .folowersUser {
          span {
            @include font($grayFontColor, 16px, 600);
          }
        }

        .FolowersBtn {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 25px;
          height: 100%;

          a {
            @include btn(52px, 30px, 0, $whiteColor);
            border: 1px solid #97a4b1;
            @include font(#97a4b1, 14px, 600);
          }
        }
      }

      .titleChat {
        display: inline-flex;
        width: 100%;
        flex-direction: row;
        position: relative;
        background-color: $blueColor;

        .titlePicture {
          margin: 10px 15px 10px 25px;

          img {
            @include avatarImg(40px, 40px, 0);
          }
        }

        .titleNameUser {
          display: flex;
          flex-direction: row;
          align-self: center;
          @include font($whiteColor, 16px, 600);

          .online {
            display: flex;
            margin: 0 8px 0 8px;
            align-self: center;
            background-color: $whiteColor;
            width: 11px;
            height: 11px;
            border-radius: 50%;
          }
        }

        .titleBtn {
          display: flex;
          align-items: center;
          position: absolute;
          right: 25px;
          height: 100%;

          img {
            margin: 0 0 0 13px;
          }
        }
      }

      .chat {
        overflow: auto;
        height: 100%;
        @include font($blueColor, 16px, 400);

        .dateDay {
          display: inline-flex;
          justify-content: center;
          padding: 0 25px 0 25px;
          width: 100%;
          span {
            margin: 0 15px 0 15px;
            white-space: nowrap;
            @include font($grayFontColor, 12px, 400);
          }
          &:before {
            content: '';
            width: 50%;
            display: block;
            margin-top: 0.5em;
            border-top: 1px solid $lightGrayFontColor;
          }
          &:after {
            content: '';
            width: 50%;
            display: block;
            margin-top: 0.5em;
            border-top: 1px solid $lightGrayFontColor;
          }
        }
       .error::after {
            content: "!";
            z-index: 9999;
            height: 14px;
            width: 14px;
            position: absolute;
            text-align: center;
            vertical-align: top;
            top: 0;
            left: 25px;
            border-radius: 50%;
            @include font($whiteColor, 9px, 600);
            background-color: #ff6161;
            transform: translate(0, -5px);
          }
          
        .message {
          position: relative;
          .textMesssageReceived {
            @include messageChat($lightGrayFontColor);
            margin-left: 25px;

            &:before {
              border-right: 10px solid $lightGrayFontColor;
              border-bottom-right-radius: 10px 7px;
              border-bottom-left-radius: 5px 2px;
              transform: translate(-5px, -2px);
            }

            &:after {
              border-bottom-right-radius: 16px 20px;
              transform: translate(-10px, -2px);
            }
  
          }

          .dateMesssageLeft {
            display: inline-block;
            width: 100%;
            padding: 0 25px 0 25px;
            @include font($grayFontColor, 10px, 400);
            // margin-left: 25px;
          }

          .dateMesssageRight {
            display: inline-flex;
            padding: 0 25px 0 25px;
            width: 100%;
            @include font($grayFontColor, 10px, 400);
            justify-content: flex-end;
          }

          .textMesssageSent {
            @include messageChat($lightBlueColor);
            margin-right: 25px;
            float: right;

            &::before {
              left: 100%;
              border-left: 10px solid $lightBlueColor;
              border-bottom-left-radius: 10px 7px;
              border-bottom-right-radius: 5px 2px;
              transform: translate(-5px, -2px);
            }

            &::after {
              left: 100%;
              border-bottom-left-radius: 20px 16px;
              transform: translate(0px, -2px);
            }
          }
        }
      }

      .chat::-webkit-scrollbar {
        width: 10px;
      }

      .chat::-webkit-scrollbar-thumb {
        background: #e5e5e5e3;
        border-radius: 10px;
      }
    }

    .col:nth-child(3n-1) {
      margin-left: 50px;
      margin-right: 50px;
    }
  }

  .dialogues {
    width: 1150px;
    height: 812px;
    background-color: $whiteColor;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    @include font($grayFontColor, 15px, 500);

    .listUser {

      display: block;
      height: 100%;
      width: 335px;
      box-shadow: 0 -50px 55px -49px $grayFontColor inset;
      .headerlistUser {
        width: 335px;
        display: block;
        height: 100px;
        padding: 0 25px 0 25px;
        line-height: 100px;
        border-right: 1px solid $lightGrayFontColor;
        border-bottom: 1px solid $lightGrayFontColor;

        p {
          @include font($grayFontColor, 15px, 600);
          float: left;
          padding: 0px;
          margin: 0px;
        }

        .leftIcons {
          float: right;
          img {
            padding: 0 5px 0 5px;
          }
        }
      }

      .userDialogList {
        width: 335px;
        height: 100%;
        display: block;
        z-index: 1;
        border-right: 1px solid  $lightGrayFontColor;
        box-shadow: 0 -50px 55px -49px black inset;
        .userDialog {
          z-index: 1;
          height: 98px;
          width: 100%;
          display: inline-flex;
          flex-direction: row;
          align-items: center;
          border-bottom: 1px solid  $lightGrayFontColor;
          position: relative;


          .col {
            z-index: 1;
            display: inline-block;
            max-width: 50%;
            p {
              padding: 0px;
              margin: 0px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .userName {
              @include font(#3f4f5f, 15px, 700);
            }
          }

          .colTime {
            position: absolute;
            right: 0px;
            width: 90px;
            z-index: 2;
            height: 100%;
            padding: 25px 0 25px 0;
            text-align: center;
            .time {
              white-space: nowrap;
            }
            .message {
              @include font($whiteColor, 12px, 600);
              position: relative;
              height: 25px;
              &:before {
                content: '';
                z-index: -1;
                position: absolute;
                left: 0;
                right: 0;
                height: 25px;
                width: 25px;
                border-radius: 5px;
                background-color: $blueColor;
                margin: 0 auto;
              }
              &:after {
                content: '';
                height: 25px;
                display: inline-block;
                vertical-align: middle;
              }
            }
          }
          img {
            @include avatarImg(50px, 50px, 0 25px 0 25px);
          }
        }
      }
    }

    .dialog {
      width: 100%;
      height: 100%;
      position: relative;

      .headerDialog {
        height: 100px;
        display: inline-flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        border-bottom: 1px solid  $lightGrayFontColor;
        p {
          padding: 0px;
          margin: 0px;
        }
        .userName {
          @include font(#3f4f5f, 15px, 700);
        }
        .leftIcons {
          margin-left: auto;
          margin-right: 25px;
          img {
            padding: 0 5px 0 5px;
          }
        }

        .col {
          display: inline-block;
        }

        .avatar {
          @include avatarImg(50px, 50px, 0 25px 0 25px);
        }
      }

      .messageDialog {
        .messageSent {
          display: inline-flex;
          flex-direction: row;
          width: 100%;

          .avatar {
            display: flex;
            align-self: flex-end;
            @include avatarImg(50px, 50px, 0 0 0 20px);
          }


          .textMesssageSent {
            @include messageChat($lightGrayFontColor);
            margin-left: 25px;

            &:before {
              border-right: 10px solid $lightGrayFontColor;
              border-bottom-right-radius: 10px 7px;
              border-bottom-left-radius: 5px 2px;
              transform: translate(-5px, -2px);
            }

            &:after {
              border-bottom-right-radius: 16px 20px;
              transform: translate(-10px, -2px);
            }
            .pic {
              display: inline-flex;
              flex-direction: row;
              align-self: flex-start;
              width: 150px;
              height: 125px;
              object-fit: cover;
            }
          }

        }
        .messageReceived {
          display: inline-flex;
          flex-direction: row-reverse;
          justify-content: right;
          margin-right: 0 auto;
          width: 100%;

          .avatar {
            display: flex;
            align-self: flex-end;
            @include avatarImg(50px, 50px, 0 20px 0 0 );
          }

        .textMesssageReceived {
          @include messageChat($lightBlueColor);
          margin-right: 25px;
          float: right;

          &::before {
            left: 100%;
            border-left: 10px solid $lightBlueColor;
            border-bottom-left-radius: 10px 7px;
            border-bottom-right-radius: 5px 2px;
            transform: translate(-5px, -2px);
          }

          &::after {
            left: 100%;
            border-bottom-left-radius: 20px 16px;
            transform: translate(0px, -2px);
          }
        }
        }
        .dateMesssageLeft {
          @include font($grayFontColor, 12px, 600);
          float: left;
          margin-left: 90px;
        }
        .dateMesssageRight {
          @include font($grayFontColor, 12px, 600);
          float: right;
          margin-right: 90px;
        }     
      }

      .dialogFooter {
        width: 100%;
        height: 120px;
        position: absolute;
        bottom: 0px;
        border-top: 1px solid $lightGrayFontColor;

      .footer {
            display: inline-flex;
            padding: 20px 0 15px 15px;
            justify-content: right;
            align-items: center;
            width: 100%;
            input {
              display: block;
              width: 620px;
              height: 45px;
              border-radius: 10px;
              @include font($grayFontColor, 25px, 400);
            }
            .button {
              padding: 0 10px 0 10px;
              background-color: #4d75a3;
              border-radius: 5px;
              width: 100px;
              height: 45px;
              margin: 0 15px 0 15px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-decoration: none;
              @include font($whiteColor, 20px, 600);
            }
          }

          .smile {
            display: inline-flex;
            padding: 0 165px 0 15px;
            justify-content: right;
            align-items: center;
            width: 100%;
            position: relative;
            img {
              padding: 0 5px 0 5px;
            }

            .smileRight{
              display: inline-flex;
              float: right;
              width: 100%;
              justify-content: flex-end;
              p {
                @include font($blueColor, 14px, 600);
                margin: 0;
                padding: 0;
              }
              .arrow-btn {
          
                border: 5px solid transparent;
                border-top: 5px solid $blueColor;
                width: 0;
                height: 0;
              }
            }

          }

        }
      }
  }
}



