@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic");
div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e9e8e4;
}

body header {
  width: 1150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  font-family: 'Open Sans';
  color: #727272;
  font-size: 16px;
  font-weight: 500;
}

body header .topBar {
  background-color: #4d75a3;
  height: 75px;
}

body header .topBar .leftTopBarMenu {
  line-height: 75px;
}

body header .topBar .leftTopBarMenu nav {
  text-align: center;
  vertical-align: middle;
}

body header .topBar .leftTopBarMenu nav ul {
  padding: 0px;
  margin: 0px;
  display: block;
}

body header .topBar .leftTopBarMenu nav ul li {
  float: left;
  display: block;
  padding: 0px 28px 0px 28px;
  border-right: 1px solid #38546d;
  position: relative;
}

body header .topBar .leftTopBarMenu nav ul li .logoTopBar {
  padding: 0px 35px 0px 10px;
}

body header .topBar .leftTopBarMenu nav ul li #notiCounter {
  border-radius: 2px;
  background-color: #ff6161;
  font-family: 'Open Sans';
  color: #f9f9f9;
  font-size: 12px;
  font-weight: 900;
  width: 16px;
  line-height: 16px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  margin-top: 20%;
  margin-left: 20%;
}

body header .topBar .rightTopBarMenu {
  float: right;
  line-height: 75px;
  font-weight: bold;
  color: #f9f9f9;
}

body header .topBar nav {
  text-align: center;
  vertical-align: middle;
}

body header .topBar nav ul {
  padding: 0px;
  margin: 0px;
  display: block;
}

body header .topBar nav ul li {
  float: left;
  display: block;
  padding: 0px 28px 0px 28px;
  border-right: 1px solid #38546d;
  position: relative;
}

body header .topBar nav ul li .avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border: 2px solid #f9f9f9;
  border-radius: 50%;
  margin: 0px 10px 0px 20px;
}

body header .topBar nav ul li .arrow-btn {
  margin: 20% 0 0 0;
  border: 5px solid transparent;
  border-top: 5px solid #f9f9f9;
  width: 0;
  height: 0;
  float: right;
}

body header .secondBar {
  background-color: white;
  height: 75px;
  line-height: 75px;
}

body header .secondBar nav {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

body header .secondBar nav ul {
  padding: 0px;
  margin: 0px;
}

body header .secondBar nav ul li {
  float: left;
  display: block;
  padding: 0px 28px 0px 28px;
}

body header .secondBar nav ul .active div {
  height: 75px;
  -webkit-box-shadow: inset 0px -5px 0px #4d75a3;
          box-shadow: inset 0px -5px 0px #4d75a3;
}

body .profile {
  width: 1150px;
  height: 200px;
  background-color: #f9f9f9;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Open Sans';
  color: #667a90;
  font-size: 12px;
  font-weight: 500;
}

body .profile .profileStatusColumn {
  width: 480px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .profile .profileStatusColumn img {
  display: block;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 25px 0 50px;
}

body .profile .profileStatusColumn .profileTitle {
  border-right: 1px solid #e5e5e5;
}

body .profile .profileStatusColumn .profileTitle h3 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  color: #3f4f5f;
  font-size: 24px;
  font-weight: 600;
}

body .profile .profileStats {
  width: 400px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 35px 0 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .profile .profileStats .statsItems {
  display: inline-block;
}

body .profile .profileStats .statsItems h2 {
  font-family: 'Open Sans';
  color: #4d75a3;
  font-size: 22px;
  font-weight: 600;
  margin: 0px;
}

body .profile .profileStats .statsItems p {
  margin: 0px;
}

body .profile .profileButtons {
  width: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .profile .profileButtons .fillBtn {
  background-color: #4d75a3;
  border-radius: 5px;
  width: 185px;
  height: 50px;
  margin: 5px 0 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: 'Open Sans';
  color: #f9f9f9;
  font-size: 16px;
  font-weight: 500;
}

body .profile .profileButtons .generalBtn {
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 185px;
  height: 50px;
  margin: 5px 0 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: 'Open Sans';
  color: #4d75a3;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #4d75a3;
}

body .activityFeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1150px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: 'Open Sans';
  color: #727272;
  font-size: 15px;
  font-weight: 500;
}

body .activityFeed .col {
  overflow: hidden;
  background-color: #f9f9f9;
  height: 100%;
  width: calc((100% - 100px) / 3);
  border-radius: 15px;
  position: relative;
}

body .activityFeed .col .titleFeed {
  padding: 5px 25px 0px 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .activityFeed .col .titleFeed h2 {
  font-family: 'Open Sans';
  color: black;
  font-size: 22px;
  font-weight: 300;
}

body .activityFeed .col .titleFeed img {
  width: 16px;
  height: 16px;
}

body .activityFeed .col .feeds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

body .activityFeed .col .feeds .columnFeedIcon {
  display: block;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 25px 5px 25px;
}

body .activityFeed .col .feeds .columnFeedIcon:after {
  content: '';
  height: 100%;
  width: 50%;
  display: block;
  border-right: 1px solid #e5e5e5;
}

body .activityFeed .col .feeds .columnUser .link {
  color: #4d75a3;
}

body .activityFeed .col .feeds .columnUser p {
  vertical-align: top;
  margin: 0px;
}

body .activityFeed .col .feeds .columnUser .feedPhotos img {
  margin: 5px 5px 5px 0px;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .activityFeed .col .footerFeeds {
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ebf4fa;
  z-index: 999999;
  font-family: 'Open Sans';
  color: #4d75a3;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

body .activityFeed .col .footerFeeds .arrow-btn {
  margin: 0.5em 5px 0 5px;
  border: 5px solid transparent;
  border-top: 5px solid #4d75a3;
  width: 0;
  height: 0;
  float: none;
}

body .activityFeed .col .footerFeeds .inputMessage {
  background-color: #f9f9f9;
  height: 100%;
  width: 100%;
  padding: 0 20px 0 20px;
  border-top: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .activityFeed .col .footerFeeds .inputMessage .smile {
  padding-right: 10px;
  border-right: 2px solid #e5e5e5;
}

body .activityFeed .col .folowers {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .activityFeed .col .folowers .folowersImage {
  margin: 10px 15px 10px 25px;
  position: relative;
  z-index: 1;
}

body .activityFeed .col .folowers .folowersImage img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0;
}

body .activityFeed .col .folowers .folowersImage .online {
  z-index: 10000;
  background-color: green;
  width: 11px;
  height: 11px;
  position: absolute;
  right: 6px;
  bottom: 4px;
  border-radius: 50%;
  border: 2px solid white;
}

body .activityFeed .col .folowers .folowersUser span {
  font-family: 'Open Sans';
  color: #727272;
  font-size: 16px;
  font-weight: 600;
}

body .activityFeed .col .folowers .FolowersBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 25px;
  height: 100%;
}

body .activityFeed .col .folowers .FolowersBtn a {
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 52px;
  height: 30px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border: 1px solid #97a4b1;
  font-family: 'Open Sans';
  color: #97a4b1;
  font-size: 14px;
  font-weight: 600;
}

body .activityFeed .col .titleChat {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  background-color: #4d75a3;
}

body .activityFeed .col .titleChat .titlePicture {
  margin: 10px 15px 10px 25px;
}

body .activityFeed .col .titleChat .titlePicture img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0;
}

body .activityFeed .col .titleChat .titleNameUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: 'Open Sans';
  color: #f9f9f9;
  font-size: 16px;
  font-weight: 600;
}

body .activityFeed .col .titleChat .titleNameUser .online {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 8px 0 8px;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #f9f9f9;
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

body .activityFeed .col .titleChat .titleBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 25px;
  height: 100%;
}

body .activityFeed .col .titleChat .titleBtn img {
  margin: 0 0 0 13px;
}

body .activityFeed .col .chat {
  overflow: auto;
  height: 100%;
  font-family: 'Open Sans';
  color: #4d75a3;
  font-size: 16px;
  font-weight: 400;
}

body .activityFeed .col .chat .dateDay {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 25px 0 25px;
  width: 100%;
}

body .activityFeed .col .chat .dateDay span {
  margin: 0 15px 0 15px;
  white-space: nowrap;
  font-family: 'Open Sans';
  color: #727272;
  font-size: 12px;
  font-weight: 400;
}

body .activityFeed .col .chat .dateDay:before {
  content: '';
  width: 50%;
  display: block;
  margin-top: 0.5em;
  border-top: 1px solid #e5e5e5;
}

body .activityFeed .col .chat .dateDay:after {
  content: '';
  width: 50%;
  display: block;
  margin-top: 0.5em;
  border-top: 1px solid #e5e5e5;
}

body .activityFeed .col .chat .error::after {
  content: "!";
  z-index: 9999;
  height: 14px;
  width: 14px;
  position: absolute;
  text-align: center;
  vertical-align: top;
  top: 0;
  left: 25px;
  border-radius: 50%;
  font-family: 'Open Sans';
  color: #f9f9f9;
  font-size: 9px;
  font-weight: 600;
  background-color: #ff6161;
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

body .activityFeed .col .chat .message {
  position: relative;
}

body .activityFeed .col .chat .message .textMesssageReceived {
  display: inline-block;
  position: relative;
  background-color: #e5e5e5;
  max-width: 70%;
  border-radius: 15px;
  z-index: 1000;
  margin-left: 25px;
}

body .activityFeed .col .chat .message .textMesssageReceived p {
  margin: 0;
  text-align: justify;
  padding: 10px 20px 10px 20px;
}

body .activityFeed .col .chat .message .textMesssageReceived:before {
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  height: 15px;
}

body .activityFeed .col .chat .message .textMesssageReceived:after {
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  width: 10px;
  height: 25px;
  background: #f9f9f9;
}

body .activityFeed .col .chat .message .textMesssageReceived:before {
  border-right: 10px solid #e5e5e5;
  border-bottom-right-radius: 10px 7px;
  border-bottom-left-radius: 5px 2px;
  -webkit-transform: translate(-5px, -2px);
          transform: translate(-5px, -2px);
}

body .activityFeed .col .chat .message .textMesssageReceived:after {
  border-bottom-right-radius: 16px 20px;
  -webkit-transform: translate(-10px, -2px);
          transform: translate(-10px, -2px);
}

body .activityFeed .col .chat .message .dateMesssageLeft {
  display: inline-block;
  width: 100%;
  padding: 0 25px 0 25px;
  font-family: 'Open Sans';
  color: #727272;
  font-size: 10px;
  font-weight: 400;
}

body .activityFeed .col .chat .message .dateMesssageRight {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 25px 0 25px;
  width: 100%;
  font-family: 'Open Sans';
  color: #727272;
  font-size: 10px;
  font-weight: 400;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .activityFeed .col .chat .message .textMesssageSent {
  display: inline-block;
  position: relative;
  background-color: #ebf4fa;
  max-width: 70%;
  border-radius: 15px;
  z-index: 1000;
  margin-right: 25px;
  float: right;
}

body .activityFeed .col .chat .message .textMesssageSent p {
  margin: 0;
  text-align: justify;
  padding: 10px 20px 10px 20px;
}

body .activityFeed .col .chat .message .textMesssageSent:before {
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  height: 15px;
}

body .activityFeed .col .chat .message .textMesssageSent:after {
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  width: 10px;
  height: 25px;
  background: #f9f9f9;
}

body .activityFeed .col .chat .message .textMesssageSent::before {
  left: 100%;
  border-left: 10px solid #ebf4fa;
  border-bottom-left-radius: 10px 7px;
  border-bottom-right-radius: 5px 2px;
  -webkit-transform: translate(-5px, -2px);
          transform: translate(-5px, -2px);
}

body .activityFeed .col .chat .message .textMesssageSent::after {
  left: 100%;
  border-bottom-left-radius: 20px 16px;
  -webkit-transform: translate(0px, -2px);
          transform: translate(0px, -2px);
}

body .activityFeed .col .chat::-webkit-scrollbar {
  width: 10px;
}

body .activityFeed .col .chat::-webkit-scrollbar-thumb {
  background: #e5e5e5e3;
  border-radius: 10px;
}

body .activityFeed .col:nth-child(3n-1) {
  margin-left: 50px;
  margin-right: 50px;
}

body .dialogues {
  width: 1150px;
  height: 812px;
  background-color: #f9f9f9;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Open Sans';
  color: #727272;
  font-size: 15px;
  font-weight: 500;
}

body .dialogues .listUser {
  display: block;
  height: 100%;
  width: 335px;
  -webkit-box-shadow: 0 -50px 55px -49px #727272 inset;
          box-shadow: 0 -50px 55px -49px #727272 inset;
}

body .dialogues .listUser .headerlistUser {
  width: 335px;
  display: block;
  height: 100px;
  padding: 0 25px 0 25px;
  line-height: 100px;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

body .dialogues .listUser .headerlistUser p {
  font-family: 'Open Sans';
  color: #727272;
  font-size: 15px;
  font-weight: 600;
  float: left;
  padding: 0px;
  margin: 0px;
}

body .dialogues .listUser .headerlistUser .leftIcons {
  float: right;
}

body .dialogues .listUser .headerlistUser .leftIcons img {
  padding: 0 5px 0 5px;
}

body .dialogues .listUser .userDialogList {
  width: 335px;
  height: 100%;
  display: block;
  z-index: 1;
  border-right: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 -50px 55px -49px black inset;
          box-shadow: 0 -50px 55px -49px black inset;
}

body .dialogues .listUser .userDialogList .userDialog {
  z-index: 1;
  height: 98px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

body .dialogues .listUser .userDialogList .userDialog .col {
  z-index: 1;
  display: inline-block;
  max-width: 50%;
}

body .dialogues .listUser .userDialogList .userDialog .col p {
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body .dialogues .listUser .userDialogList .userDialog .col .userName {
  font-family: 'Open Sans';
  color: #3f4f5f;
  font-size: 15px;
  font-weight: 700;
}

body .dialogues .listUser .userDialogList .userDialog .colTime {
  position: absolute;
  right: 0px;
  width: 90px;
  z-index: 2;
  height: 100%;
  padding: 25px 0 25px 0;
  text-align: center;
}

body .dialogues .listUser .userDialogList .userDialog .colTime .time {
  white-space: nowrap;
}

body .dialogues .listUser .userDialogList .userDialog .colTime .message {
  font-family: 'Open Sans';
  color: #f9f9f9;
  font-size: 12px;
  font-weight: 600;
  position: relative;
  height: 25px;
}

body .dialogues .listUser .userDialogList .userDialog .colTime .message:before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: #4d75a3;
  margin: 0 auto;
}

body .dialogues .listUser .userDialogList .userDialog .colTime .message:after {
  content: '';
  height: 25px;
  display: inline-block;
  vertical-align: middle;
}

body .dialogues .listUser .userDialogList .userDialog img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 25px 0 25px;
}

body .dialogues .dialog {
  width: 100%;
  height: 100%;
  position: relative;
}

body .dialogues .dialog .headerDialog {
  height: 100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

body .dialogues .dialog .headerDialog p {
  padding: 0px;
  margin: 0px;
}

body .dialogues .dialog .headerDialog .userName {
  font-family: 'Open Sans';
  color: #3f4f5f;
  font-size: 15px;
  font-weight: 700;
}

body .dialogues .dialog .headerDialog .leftIcons {
  margin-left: auto;
  margin-right: 25px;
}

body .dialogues .dialog .headerDialog .leftIcons img {
  padding: 0 5px 0 5px;
}

body .dialogues .dialog .headerDialog .col {
  display: inline-block;
}

body .dialogues .dialog .headerDialog .avatar {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 25px 0 25px;
}

body .dialogues .dialog .messageDialog .messageSent {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

body .dialogues .dialog .messageDialog .messageSent .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 0 0 20px;
}

body .dialogues .dialog .messageDialog .messageSent .textMesssageSent {
  display: inline-block;
  position: relative;
  background-color: #e5e5e5;
  max-width: 70%;
  border-radius: 15px;
  z-index: 1000;
  margin-left: 25px;
}

body .dialogues .dialog .messageDialog .messageSent .textMesssageSent p {
  margin: 0;
  text-align: justify;
  padding: 10px 20px 10px 20px;
}

body .dialogues .dialog .messageDialog .messageSent .textMesssageSent:before {
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  height: 15px;
}

body .dialogues .dialog .messageDialog .messageSent .textMesssageSent:after {
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  width: 10px;
  height: 25px;
  background: #f9f9f9;
}

body .dialogues .dialog .messageDialog .messageSent .textMesssageSent:before {
  border-right: 10px solid #e5e5e5;
  border-bottom-right-radius: 10px 7px;
  border-bottom-left-radius: 5px 2px;
  -webkit-transform: translate(-5px, -2px);
          transform: translate(-5px, -2px);
}

body .dialogues .dialog .messageDialog .messageSent .textMesssageSent:after {
  border-bottom-right-radius: 16px 20px;
  -webkit-transform: translate(-10px, -2px);
          transform: translate(-10px, -2px);
}

body .dialogues .dialog .messageDialog .messageSent .textMesssageSent .pic {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 150px;
  height: 125px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .dialogues .dialog .messageDialog .messageReceived {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 0 auto;
  width: 100%;
}

body .dialogues .dialog .messageDialog .messageReceived .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin: 0 20px 0 0;
}

body .dialogues .dialog .messageDialog .messageReceived .textMesssageReceived {
  display: inline-block;
  position: relative;
  background-color: #ebf4fa;
  max-width: 70%;
  border-radius: 15px;
  z-index: 1000;
  margin-right: 25px;
  float: right;
}

body .dialogues .dialog .messageDialog .messageReceived .textMesssageReceived p {
  margin: 0;
  text-align: justify;
  padding: 10px 20px 10px 20px;
}

body .dialogues .dialog .messageDialog .messageReceived .textMesssageReceived:before {
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  height: 15px;
}

body .dialogues .dialog .messageDialog .messageReceived .textMesssageReceived:after {
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  width: 10px;
  height: 25px;
  background: #f9f9f9;
}

body .dialogues .dialog .messageDialog .messageReceived .textMesssageReceived::before {
  left: 100%;
  border-left: 10px solid #ebf4fa;
  border-bottom-left-radius: 10px 7px;
  border-bottom-right-radius: 5px 2px;
  -webkit-transform: translate(-5px, -2px);
          transform: translate(-5px, -2px);
}

body .dialogues .dialog .messageDialog .messageReceived .textMesssageReceived::after {
  left: 100%;
  border-bottom-left-radius: 20px 16px;
  -webkit-transform: translate(0px, -2px);
          transform: translate(0px, -2px);
}

body .dialogues .dialog .messageDialog .dateMesssageLeft {
  font-family: 'Open Sans';
  color: #727272;
  font-size: 12px;
  font-weight: 600;
  float: left;
  margin-left: 90px;
}

body .dialogues .dialog .messageDialog .dateMesssageRight {
  font-family: 'Open Sans';
  color: #727272;
  font-size: 12px;
  font-weight: 600;
  float: right;
  margin-right: 90px;
}

body .dialogues .dialog .dialogFooter {
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #e5e5e5;
}

body .dialogues .dialog .dialogFooter .footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 20px 0 15px 15px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .dialogues .dialog .dialogFooter .footer input {
  display: block;
  width: 620px;
  height: 45px;
  border-radius: 10px;
  font-family: 'Open Sans';
  color: #727272;
  font-size: 25px;
  font-weight: 400;
}

body .dialogues .dialog .dialogFooter .footer .button {
  padding: 0 10px 0 10px;
  background-color: #4d75a3;
  border-radius: 5px;
  width: 100px;
  height: 45px;
  margin: 0 15px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: 'Open Sans';
  color: #f9f9f9;
  font-size: 20px;
  font-weight: 600;
}

body .dialogues .dialog .dialogFooter .smile {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 165px 0 15px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

body .dialogues .dialog .dialogFooter .smile img {
  padding: 0 5px 0 5px;
}

body .dialogues .dialog .dialogFooter .smile .smileRight {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .dialogues .dialog .dialogFooter .smile .smileRight p {
  font-family: 'Open Sans';
  color: #4d75a3;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

body .dialogues .dialog .dialogFooter .smile .smileRight .arrow-btn {
  border: 5px solid transparent;
  border-top: 5px solid #4d75a3;
  width: 0;
  height: 0;
}
/*# sourceMappingURL=style.css.map */