
$fonColor: #e9e8e4;
$blueColor: #4d75a3;
$lightBlueColor: #ebf4fa;
$whiteColor: #f9f9f9;
$grayFontColor: #727272;
$lightGrayFontColor: #e5e5e5;
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

@mixin font($color, $size, $weight) {
  font-family: 'Open Sans';
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin avatarImg($width, $height, $margin) {
  width: $width;
  height: $height;
  object-fit: cover;
  border-radius: 50%;
  margin: $margin;
}

@mixin btn($width, $height, $margin, $fonColor) {
  background-color: $fonColor;
  border-radius: 5px;
  width: $width;
  height: $height;
  margin: $margin;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@mixin triangle($float, $margin, $Color) {
  margin: $margin;
  border: 5px solid transparent;
  border-top: 5px solid $Color;
  width: 0;
  height: 0;
  float: $float;
}

@mixin messageChat($Color) {
  display: inline-block;
  position: relative;
  background-color: $Color;
  max-width: 70%;
  border-radius: 15px;
  z-index: 1000;

  p {
    margin: 0;
    text-align: justify;
    padding: 10px 20px 10px 20px;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: 1000;
    bottom: 0px;
    height: 15px;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 1000;
    bottom: 0px;
    width: 10px;
    height: 25px;
    background: $whiteColor;
  }
}

div {
  box-sizing: border-box;
}

body {
  background-color: $fonColor;

  header {
    @include font($grayFontColor, 16px, 500);
    border-radius: 15px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 1150px;

    .topBar {
      background-color: $blueColor;
      height: 75px;

      .leftTopBarMenu {
        line-height: 75px;

        nav {
          text-align: center;
          vertical-align: middle;

          ul {
            display: block;
            margin: 0px;
            padding: 0px;

            li {
              border-right: 1px solid #38546d;
              display: block;
              float: left;
              padding: 0px 28px;
              position: relative;

              .logoTopBar {
                padding: 0px 35px 0px 10px;
              }

              #notiCounter {
                @include font(#f9f9f9, 12px, 900);
                background-color: #ff6161;
                border-radius: 2px;
                line-height: 16px;
                margin: 0 auto;
                margin-left: 20%;
                margin-top: 20%;
                position: absolute;
                top: 0;
                width: 16px;
              }
            }
          }
        }
      }

      .rightTopBarMenu {
        color: #f9f9f9;
        float: right;
        font-weight: bold;
        line-height: 75px;
      }

      nav {
        text-align: center;
        vertical-align: middle;

        ul {
          display: block;
          margin: 0px;
          padding: 0px;

          li {
            border-right: 1px solid #38546d;
            display: block;
            float: left;
            padding: 0px 28px;
            position: relative;

            .avatar {
              border-radius: 50%;
              border: 2px solid #f9f9f9;
              height: 30px;
              margin: 0px 10px 0px 20px;
              vertical-align: middle;
              width: 30px;
            }

            .arrow-btn {
              @include triangle(right, 20% 0 0 0, $whiteColor);
            }
          }
        }
      }
    }

    .secondBar {
      background-color: white;
      height: 75px;
      line-height: 75px;

      nav {
        display: inline-block;
        text-align: center;
        vertical-align: middle;

        ul {
          margin: 0px;
          padding: 0px;

          li {
            display: block;
            float: left;
            padding: 0px 28px;
          }

          .active div {
            box-shadow: inset 0px -5px 0px #4d75a3;
            height: 75px;
          }
        }
      }
    }
  }

  .profile {
    @include font(#667a90, 12px, 500);
    background-color: $whiteColor;
    border-radius: 15px;
    display: flex;
    height: 200px;
    justify-content: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    width: 1150px;

    
    .profileStatusColumn {
      align-items: center;
      display: flex;
      height: 100%;
      width: 480px;
      img {
        @include avatarImg(100px, 100px, 0 25px 0 50px);
        display: flex;
        flex-basis: 175px;
        flex-grow: 1;
      }

      .profileTitle {
        border-right: 1px solid $lightGrayFontColor;
        display: block;
        flex-grow: 1;
        position: relative;

        .active {
          &:after {
            align-items: center;
            background-color: #a6bad1;
            border-radius: 50%;
            color: $whiteColor;
            content: '\2714';
            display: inline-flex;
            font-size: 14px;
            height: 20px;
            justify-content: center;
            margin: 0 5px;
            width: 20px;
          }

        }

        h3 {
          @include font(#3f4f5f, 24px, 600);
          margin: 0;
          padding: 0;
        }
      }
    }

    .profileStats {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: space-between;
      margin: 0 35px 0 35px;
      width: 400px;

      .statsItems {
        display: inline-block;

        h2 {
          @include font(#4d75a3, 22px, 600);
          margin: 0px;
        }

        p {
          margin: 0px;
        }
      }
    }

    .profileButtons {
      align-content: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: auto;

      .fillBtn {
        @include btn(185px, 50px, 5px 0 5px 0, $blueColor);
        @include font($whiteColor, 16px, 500);
      }

      .generalBtn {
        @include btn(185px, 50px, 5px 0 5px 0, $whiteColor);
        @include font($blueColor, 16px, 600);
        border: 2px solid $blueColor;
      }
    }
  }

  .activityFeed {
    @include font($grayFontColor, 15px, 500);
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    width: 1150px;

    .col {
      background-color: $whiteColor;
      border-radius: 15px;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: calc((100% - 100px) / 3);

      .titleFeed {
        align-items: center;
        display: flex;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 25px 0px 25px;
        width: 100%;

        h2 {
          @include font(black, 22px, 300);
        }

        img {
          height: 16px;
          width: 16px;
        }
      }

      .feeds {
        display: flex;
        margin-top: 20px;

        .columnFeedIcon {
          align-content: center;
          align-items: center;
          display: block;
          margin: 5px 25px;

          &:after {
            border-right: 1px solid $lightGrayFontColor;
            content: '';
            display: block;
            height: 100%;
            width: 50%;
          }
        }

        .columnUser {
          .link {
            color: $blueColor;
          }

          p {
            margin: 0px;
            vertical-align: top;
          }

          .feedPhotos {
            img {
              border-radius: 5px;
              height: 50px;
              margin: 5px 5px 5px 0px;
              object-fit: cover;
              width: 50px;
            }
          }
        }
      }

      .footerFeeds {
        @include font($blueColor, 12px, 600);
        align-items: center;
        background-color: $lightBlueColor;
        bottom: 0px;
        display: flex;
        height: 50px;
        justify-content: center;
        position: absolute;
        text-transform: uppercase;
        width: 100%;
        z-index: 999999;

        .arrow-btn {
          @include triangle(none, 0.5em 5px 0 5px, $blueColor);
        }

        .inputMessage {
          align-items: center;
          background-color: $whiteColor;
          border-top: 1px solid $lightGrayFontColor;
          display: flex;
          height: 100%;
          justify-content: space-between;
          padding: 0 20px 0 20px;
          width: 100%;

          .smile {
            border-right: 2px solid $lightGrayFontColor;
            padding-right: 10px;
          }
        }
      }

      .folowers {
        align-items: center;
        display: inline-flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        .folowersImage {
          margin: 10px 15px 10px 25px;
          position: relative;
          z-index: 1;

          img {
            @include avatarImg(50px, 50px, 0);
          }

          .online {
            background-color: green;
            border-radius: 50%;
            border: 2px solid white;
            bottom: 4px;
            height: 11px;
            position: absolute;
            right: 6px;
            width: 11px;
            z-index: 10000;
          }
        }

        .folowersUser {
          span {
            @include font($grayFontColor, 16px, 600);
          }
        }

        .FolowersBtn {
          align-items: center;
          display: flex;
          height: 100%;
          justify-content: center;
          position: absolute;
          right: 25px;

          a {
            @include btn(52px, 30px, 0, $whiteColor);
            @include font(#97a4b1, 14px, 600);
            border: 1px solid #97a4b1;
          }
        }
      }

      .titleChat {
        background-color: $blueColor;
        display: inline-flex;
        flex-direction: row;
        position: relative;
        width: 100%;

        .titlePicture {
          margin: 10px 15px 10px 25px;

          img {
            @include avatarImg(40px, 40px, 0);
          }
        }

        .titleNameUser {
          @include font($whiteColor, 16px, 600);
          align-self: center;
          display: flex;
          flex-direction: row;

          .online {
            align-self: center;
            background-color: $whiteColor;
            border-radius: 50%;
            display: flex;
            height: 11px;
            margin: 0 8px 0 8px;
            width: 11px;
          }
        }

        .titleBtn {
          align-items: center;
          display: flex;
          height: 100%;
          position: absolute;
          right: 25px;

          img {
            margin: 0 0 0 13px;
          }
        }
      }

      .chat {
        @include font($blueColor, 16px, 400);
        height: 100%;
        overflow: auto;

        .dateDay {
          display: inline-flex;
          justify-content: center;
          padding: 0 25px;
          width: 100%;

          span {
            @include font($grayFontColor, 12px, 400);
            margin: 0 15px;
            white-space: nowrap;
          }

          &:before {
            border-top: 1px solid $lightGrayFontColor;
            content: '';
            display: block;
            margin-top: 0.5em;
            width: 50%;
          }

          &:after {
            border-top: 1px solid $lightGrayFontColor;
            content: '';
            display: block;
            margin-top: 0.5em;
            width: 50%;
          }
        }

        .error::after {
          @include font($whiteColor, 9px, 600);
          background-color: #ff6161;
          border-radius: 50%;
          content: "!";
          height: 14px;
          left: 25px;
          position: absolute;
          text-align: center;
          top: 0;
          transform: translate(0, -5px);
          vertical-align: top;
          width: 14px;
          z-index: 9999;
        }

        .message {
          position: relative;

          .textMesssageReceived {
            @include messageChat($lightGrayFontColor);
            margin-left: 25px;

            &:before {
              border-bottom-left-radius: 5px 2px;
              border-bottom-right-radius: 10px 7px;
              border-right: 10px solid $lightGrayFontColor;
              transform: translate(-5px, -2px);
            }

            &:after {
              border-bottom-right-radius: 16px 20px;
              transform: translate(-10px, -2px);
            }
          }

          .dateMesssageLeft {
            @include font($grayFontColor, 10px, 400);
            display: inline-block;
            padding: 0 25px 0 25px;
            width: 100%;
            // margin-left: 25px;
          }

          .dateMesssageRight {
            @include font($grayFontColor, 10px, 400);
            display: inline-flex;
            justify-content: flex-end;
            padding: 0 25px 0 25px;
            width: 100%;
          }

          .textMesssageSent {
            @include messageChat($lightBlueColor);
            float: right;
            margin-right: 25px;

            &::before {
              border-bottom-left-radius: 10px 7px;
              border-bottom-right-radius: 5px 2px;
              border-left: 10px solid $lightBlueColor;
              left: 100%;
              transform: translate(-5px, -2px);
            }

            &::after {
              border-bottom-left-radius: 20px 16px;
              left: 100%;
              transform: translate(0px, -2px);
            }
          }
        }
      }

      .chat::-webkit-scrollbar {
        width: 10px;
      }

      .chat::-webkit-scrollbar-thumb {
        background: #e5e5e5e3;
        border-radius: 10px;
      }
    }

    .col:nth-child(3n-1) {
      margin-left: 50px;
      margin-right: 50px;
    }
  }

  .dialogues {
    @include font($grayFontColor, 15px, 500);
    background-color: $whiteColor;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    height: 812px;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    width: 1150px;

    .listUser {
      box-shadow: 0 -50px 55px -49px $grayFontColor inset;
      display: block;
      height: 100%;
      width: 335px;

      .headerlistUser {
        border-bottom: 1px solid $lightGrayFontColor;
        border-right: 1px solid $lightGrayFontColor;
        display: block;
        height: 100px;
        line-height: 100px;
        padding: 0 25px 0 25px;
        width: 335px;

        p {
          @include font($grayFontColor, 15px, 600);
          float: left;
          margin: 0px;
          padding: 0px;
        }

        .leftIcons {
          float: right;

          img {
            padding: 0 5px;
          }
        }
      }

      .userDialogList {
        border-right: 1px solid $lightGrayFontColor;
        box-shadow: 0 -50px 55px -49px black inset;
        display: block;
        height: 100%;
        width: 335px;
        z-index: 1;


        .newMessage {
          background-color: $lightBlueColor;
        }

        .userDialog {
          align-items: center;
          border-bottom: 1px solid $lightGrayFontColor;
          display: inline-flex;
          flex-direction: row;
          height: 98px;
          position: relative;
          width: 100%;
          z-index: 1;

          .col {
            display: inline-block;
            max-width: 50%;
            position: relative;
            z-index: 1;

            p {
              margin: 0px;
              overflow: hidden;
              padding: 0px;
              text-overflow: ellipsis;
              white-space: nowrap;

              span {
                background-color: $lightGrayFontColor;
                border-radius: 0 0.5em 0.5em 0;
                padding-right: 5px;
              }

              img {
                border-radius: 50%;
                height: 1em;
                margin: 0px;
                padding: 0px;
                vertical-align: middle;
                width: 1em;
              }


            }

            .userName {
              @include font(#3f4f5f, 15px, 700);
            }
          }

          .colTime {
            height: 100%;
            padding: 25px 0 25px 0;
            position: absolute;
            right: 0px;
            text-align: center;
            width: 90px;
            z-index: 2;

            .time {
              white-space: nowrap;
            }

            .message {
              @include font($whiteColor, 12px, 600);
              height: 25px;
              position: relative;
              &:before {
                background-color: $blueColor;
                border-radius: 5px;
                content: '';
                height: 25px;
                left: 0;
                margin: 0 auto;
                position: absolute;
                right: 0;
                width: 25px;
                z-index: -1;
              }

              &:after {
                content: '';
                display: inline-block;
                height: 25px;
                vertical-align: middle;
              }
            }
          }

          img {
            @include avatarImg(50px, 50px, 0 25px 0 25px);
          }

          .online {
            &:after {
              background-color: rgb(24, 173, 24);
              border-radius: 50%;
              content: '';
              height: 9px;
              left: 0;
              position: absolute;
              transform: translate(-25px, -5px);
              width: 9px;
            }
          }
        }
      }
    }

    .dialog {
      height: 100%;
      position: relative;
      width: 100%;

      .headerDialog {
        align-items: center;
        border-bottom: 1px solid $lightGrayFontColor;
        display: inline-flex;
        flex-direction: row;
        height: 100px;
        width: 100%;

        p {
          margin: 0px;
          padding: 0px;
        }

        .userName {
          @include font(#3f4f5f, 15px, 700);
        }

        .leftIcons {
          margin-left: auto;
          margin-right: 25px;

          img {
            padding: 0 5px;
          }
        }

        .col {
          display: inline-block;
        }

        .avatar {
          @include avatarImg(50px, 50px, 0 25px);
        }
      }

      .messageDialog {

        .messageSent {
          display: inline-flex;
          flex-direction: row;
          width: 100%;

          .avatar {
            @include avatarImg(50px, 50px, 0 0 0 20px);
            align-self: flex-end;
            display: flex;
          }

          .textMesssageSent {
            @include messageChat($lightGrayFontColor);
            margin-left: 25px;

            &:before {
              border-bottom-left-radius: 5px 2px;
              border-bottom-right-radius: 10px 7px;
              border-right: 10px solid $lightGrayFontColor;
              transform: translate(-5px, -2px);
            }

            &:after {
              border-bottom-right-radius: 16px 20px;
              transform: translate(-10px, -2px);
            }

            .pic {
              align-self: flex-start;
              display: inline-flex;
              flex-direction: row;
              height: 125px;
              object-fit: cover;
              width: 150px;
            }
            .smile {
              border-radius: 50%;
              height: 1em;
              margin: 0px;
              padding: 0px;
              vertical-align: middle;
              width: 1em;
            }
          }
        }

        .messageReceived {
          display: inline-flex;
          flex-direction: row-reverse;
          justify-content: right;
          margin-right: 0 auto;
          width: 100%;

          .avatar {
            @include avatarImg(50px, 50px, 0 20px 0 0);
            align-self: flex-end;
            display: flex;
          }

          .textMesssageReceived {
            @include messageChat($lightBlueColor);
            float: right;
            margin-right: 25px;

            &::before {
              border-bottom-left-radius: 10px 7px;
              border-bottom-right-radius: 5px 2px;
              border-left: 10px solid $lightBlueColor;
              left: 100%;
              transform: translate(-5px, -2px);
            }

            &::after {
              border-bottom-left-radius: 20px 16px;
              left: 100%;
              transform: translate(0px, -2px);
            }
            .smile {
              border-radius: 50%;
              height: 1em;
              margin: 0px;
              padding: 0px;
              vertical-align: middle;
              width: 1em;
            }
          }
        }

        .dateMesssageLeft {
          @include font($grayFontColor, 12px, 600);
          float: left;
          margin-left: 90px;
        }

        .dateMesssageRight {
          @include font($grayFontColor, 12px, 600);
          float: right;
          margin-right: 90px;
        }
      }

      .dialogFooter {
        border-top: 1px solid $lightGrayFontColor;
        bottom: 0px;
        height: 120px;
        position: absolute;
        width: 100%;

        .footer {
          align-items: center;
          display: inline-flex;
          justify-content: right;
          padding: 20px 0 15px 15px;
          width: 100%;

          input {
            @include font($grayFontColor, 25px, 400);
            border-radius: 10px;
            display: block;
            height: 45px;
            width: 620px;
          }

          .button {
            @include font($whiteColor, 20px, 600);
            align-items: center;
            background-color: #4d75a3;
            border-radius: 5px;
            display: flex;
            height: 45px;
            justify-content: center;
            margin: 0 15px 0 15px;
            padding: 0 10px 0 10px;
            text-decoration: none;
            width: 100px;
          }
        }

        .smile {
          align-items: center;
          display: inline-flex;
          justify-content: right;
          padding: 0 165px 0 15px;
          position: relative;
          width: 100%;

          img {
            padding: 0 5px;
          }

          .smileRight {
            display: inline-flex;
            float: right;
            justify-content: flex-end;
            width: 100%;

            p {
              @include font($blueColor, 14px, 600);
              margin: 0;
              padding: 0;
            }

            .arrow-btn {
              border-top: 5px solid $blueColor;
              border: 5px solid transparent;
              height: 0;
              width: 0;
            }
          }
        }
      }
    }
  }
}



